<ul class="sidebar-nav list-group">
  <li class="list-group-item">
    <p><h2>CSV Generator</h2></p>
    <p>
      Online service for generating CSV files with fake(dummy)
      data using Python, Django and Celery
    </p>
    <p><strong>Features</strong></p>
    <ul>
      <li>Authentication functionality for User</li>
      <li>Managing schemas directly from website interface</li>
      <li>Generating CSV files (datasets) with fake data</li>
    </ul>
    <p><strong>Access</strong></p>
    <ul>
      <li>Username: user</li>
      <li>Password: user12345</li>
    </ul>
  </li>
</ul>
